.content {
    height:85vh;
   
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-repeat: no-repeat;
    background-size: 100%;
}
.content h2{
    color: orange;
}
.content p{
    margin:  0px 100px;
    color: cornsilk;
}
.content input{
    width: 25%;
    height: 30px;
    border: none;
    border-radius: 12px;
}
.content input:focus{
    border: 1px solid blue;
}